# Folders
Delving Into Darkness Solution/Debug/
Delving Into Darkness Solution/.vs/
Delving Into Darkness Solution/Debug/
Delving Into Darkness Solution/x64/
Delving Into Darkness Solution/bin/
Delving Into Darkness Solution/obj/
Delving Into Darkness Solution/obj/
Delving Into Darkness Solution/.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod


# Executables
*.exe
*.out
*.app
